html, body {
    width: 100%;
}

body {
    padding-top: 80px;
    background-color: #27ae60;
}

.navbar {
    background-color: #2c3e50;
}

.btn {
    color: #27ae60;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    border-color: #27ae60;
    width: 140px;
    border-radius: 15px;
}

i {
    margin-right: 8px;
}

#end-game {
    color: #e74c3c;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    border-color: #e74c3c;
    width: 140px;
    margin-left: 10px;
}

#end-game:hover, #end-game:active {
    background-color: #e74c3c;
    border-color: #e74c3c;
    border-radius: 15px;
    color: white;
}

.btn:hover, .btn:active {
    background-color: #27ae60;
    border-color: #27ae60;
    color: white;
    border-radius: 15px;
}

#back-arrow {
    color: white;
}

#back-arrow:hover {
    color: #27ae60;
}

#title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-bottom: 0;
}

#main-panel-row {
    justify-content: center;
}

#main-panel-error {
    justify-content: center;
}

#score {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
}

#steps {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 30px;
}

#board {
    padding-top: 0;
    padding-right: 145px;
}

#foundation-row {
    justify-content: center;
}

.stock-a {
    left: 10%;
    z-index: 9999;
}

.foundation {
    padding-left: 25px;
}

#deck-row {
    padding-top: 50px;
}

#stepBack {
    margin-right: 10px;
}

.cards-items {
    position: absolute;
}

.navbar {
    z-index: 9999;
    justify-content: space-between;
}

#bugged-row {
    height: 1000px;
}

#score-container {
    background-color: #2c3e50;
    padding-top: 20px;
    justify-content: space-between;
}

td, tr {
    text-align: center;
}

#score-table {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    float: left;
    max-width: 20%;
    color: white;

}

#top-players-text {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

#rating-text {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 7%;
    margin-left: 12%;
    color: white;
}

#rating {
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4%;
    margin-left: 2%;
    color: #27ae60;
}

.table thead th {
    border-bottom: 0;
    color: #27ae60;
}

.table td, .table th {
    border-top: 0;
}

#comments-text {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40%;
    color: white;
}

#comments-table {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    max-width: 40%;
    color: white;
    margin-left: 30%;
    margin-bottom: 5%;
}

#text-comment {
    text-align: left;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #27ae60;
}

#footer {
    height: 100px;
    background-color: #8e44ad;
}

#footer-author {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    margin-top: 2%;
    color: white;
}

.alert {
    background-color: #e74c3c;
    color: white;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
}








